{% import "macros/search1.html.twig" as search %}
{% import "macros/select2.html.twig" as select2 %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.css') }}">
  <!-- font-awesome -->
  <link rel="stylesheet" href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}">
  <!-- style gaboma annonce -->
  <link rel="stylesheet" href="{{asset('css/gaboma-annonce.css')}}">
  {{ select2.css() }}
  {% block head %}{% endblock %}

  <title>{{ app_name }} - {% block title %}Welcome!{% endblock %}</title>
</head>
<style>

  .a-detail:hover {
    text-decoration: none;
  }

  .annonce-price {
    font-size: 14px;
  }
  .annonce-label{
    font-size: 14px;
  }

  .annonce-content{
    font-size: 12px;
  }

  .annonce-title {
    font-size: 17px;
  }
  .annonce-card-nbr{
    font-size: 11px;
  }
  .annonce-card-nbr span{
    margin-left: 3px;
  }
  .annonce-compte{
    font-size: 13px;
  }
  .annonce-details{
    font-size: 11px;
  }
  .annonce-card-action{
    font-size: 12px;
  }
  .annonce-card-action button{
    letter-spacing: 1px;
    font-size: 11px;
  }
</style>

<body>
  <header>
    <div class="drapeau"></div>
    <div class="header-top">
      <div class="container">
        <!-- <div class="container"> -->
        <div class="row rounded">
          <div class="col-md-3">
            <div class="container">
              <div class="logo">
                <a href="/"><img src="/img/icons/logo.png" alt="Torrent"></a>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            {{ search.search(form) }}
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {{ app.request.attributes.get('_route') == 'home' ? 'active':'' }}">
            <a class="nav-link" href="/">Acceuil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {{ app.request.attributes.get('_route') == 'annonces' ? 'active':'' }}">
            <a class="nav-link" href="{{ path('annonces') }}">Toutes les annonces</a>
          </li>
          {% for item in parents %}
          <li class="nav-item {{ item.name|lower == parent.name|default('home')|lower ? 'active' : '' }} ">
            <a class="nav-link" href="{{ path('annonces_parent',{parent:item.name|lower}) }}">{{item.name}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </header>
  <div class="container-fluid">
    {% block body %}

    {% endblock %}
  </div>
  <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
  {% block foot %}{% endblock %}
  {{ select2.js() }}
  {{ select2.script() }}
  {% block javascripts %}{% endblock %}
</body>

</html>