{% import "macros/breadcrumb.html.twig" as breadcrumb %}
{% import "macros/link.html.twig" as link %}
{% extends 'admin/base.html.twig' %}
{% block title %}Category{% endblock %}
{% block breadcrumb %}
{{ breadcrumb.breadcrumb('View category',[
{
name:'Categorys',
path:path('category_index')
}
]) }}
{% endblock %}
{% block body %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-text-width"></i>
            View category
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">Nom</dt>
            <dd class="col-sm-8">{{ category.name }}</dd>
            <dt class="col-sm-4">Parent</dt>
            <dd class="col-sm-8">{{ category.parent.name|default('Sans') }}</dd>
            <dt class="col-sm-4">Is active</dt>
            <dd class="col-sm-8">{{ category.isActive ? 'Yes' : 'No' }}</dd>
        </dl>
        <div class="row">
            <div class="col-4 btn-group">
                {{ link.back(path('category_index'))}}
                {{ link.edit(path('category_edit', {'id': category.id}))}}
                {# <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-success">edit</a> #}
            </div>
            {{ include('admin/category/_delete_form.html.twig') }}
        </div>
    </div>
    <!-- /.card-body -->
</div>
{% endblock %}