{% extends "main/base.html.twig" %}

{% block title %}Toutes les annonces{% endblock %}
{% block body %}
<div class="row bg-white">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <div class="container-fluid my-5 rounded">
            <div class="d-flex justify-content-center  row">
                <div class="col-md-12 bg-light rounded py-3 mb-3">
                    <div class="filtres">
                        {% if app.request.attributes.get('_route') == 'annonces_parent' or app.request.attributes.get('_route') == 'annonces_categorie' %}
                        <label for="">CATEGORIES</label>
                        {# <select style="width:50%" class="custom-select mx-2" onChange="location=this.options[selectedIndex].value;">
                            <option value="" selected>Catégories</option>
                            {% for item in parents %}
                            <option {{ item.name|lower == parent.name|lower ? 'selected' : '' }}
                                value="{{ path('annonces_parent',{parent:item.name|lower}) }}">
                                {{item.name}}
                            </option>
                            {% endfor %}
                        </select> #}
                        <div
                            style="margin:2px; border-radius:4px; padding:15px">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>{{ parent.name|upper }}</h4>
                                </div>
                                {% for item in parent.categories %}
                                <div class="col-xs-6 col-md-4 col-lg-3">
                                    <i class="fa fa-square-o colorChecked"></i>
                                    <a
                                        href="{{ path('annonces_categorie',{parent:item.parent.name|lower, categorie:item.name|lower}) }}">{{
                                        item.name ~ item.id }}</a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {# {% if app.request.attributes.get('_route') == 'annonces_categorie' %}
                        <legend>{{parent.name|upper}} </legend>
                        <div class="row">
                            <div class="col-md-12"></div>
                            {% for item in parent.categories %}
                            <div class="col-xs-6 col-md-4 col-lg-3">
                                <i class="fa fa-square-o colorChecked"></i>
                                <a
                                    href="{{ path('annonces_categorie',{parent:item.parent.name|lower,categorie:item.slug|lower}) }}">{{
                                    item.name }}</a>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %} #}
                    </div>
                </div>
                <div class="col-md-12 col-12 ">
                    {{ include ("main/annonce/_annonce.html.twig",{items:annonces} ) }}
                </div>
                <div class="pagination p-2">
                    {{ knp_pagination_render(annonces) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
    //    alert('dffd')
    })
</script>
{% endblock %}