{% import "macros/navs.html.twig" as nav %}
{% import "macros/breadcrumb.html.twig" as breadcrumb %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- font-awesome -->
  <link rel="stylesheet" href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.css') }}">
    <!-- font-awesome -->
    <link rel="stylesheet" href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}">
    <!-- style gaboma annonce -->
    <link rel="stylesheet" href="{{asset('css/gaboma-annonce.css')}}">
  <title>{% block title %}{% endblock %} | {{ app_name }}</title>
  {% block head %}{% endblock %}
</head>
<style>
  .a-detail:hover {
    text-decoration: none;
  }

  .annonce-price {
    font-size: 14px;
  }
  .annonce-label{
    font-size: 14px;
  }

  .annonce-content{
    font-size: 12px;
  }

  .annonce-title {
    font-size: 17px;
  }
  .annonce-card-nbr{
    font-size: 11px;
  }
  .annonce-card-nbr span{
    margin-left: 3px;
  }
  .annonce-compte{
    font-size: 13px;
  }
  .annonce-details{
    font-size: 11px;
  }
  .annonce-card-action{
    font-size: 12px;
  }
  .annonce-card-action button{
    letter-spacing: 1px;
    font-size: 11px;
  }
</style>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('home') }}">Accueil </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('annonces')  }}">Touts les annonces</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a id="dropdownSubMenu2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            class="nav-link dropdown-toggle"><img width="30px"
              src="{{ asset('img/pays/' ~ app.request.locale ~ '') }}.jpg" alt="lang"> </a>
          <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
            {% for item in locales %}
            {% if item != app.request.locale %}
            <li>
              <a href="{{ path('lang',{ locale: item }) }}" class="dropdown-item">
                <img width="30px" src="{{ asset('img/pays/' ~ item ~ '') }}.jpg" alt="" srcset="">
                {{item}} </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <main class="container-fluid">
    {% block body %}{% endblock %}
  </main>
  {% block footer %}{% endblock %}

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
  {% block foot %}{% endblock %}
  {% block javascripts %}{% endblock %}
</body>

</html>