{% extends 'admin/base.html.twig' %}
{% import "macros/breadcrumb.html.twig" as breadcrumb %}

{% block breadcrumb %}
    {{ breadcrumb.breadcrumb('Listes des annonces') }}
{% endblock %}

{% block title %}Lites dea annonces{% endblock %}

{% block body %}
<div class="card card-outline card-primary">
    <div class="card-header">
        <div class="card-title">
            Listes des annonces
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Created at</th>
                    <th>Content</th>
                    <th>Is active</th>
                    <th>Etat</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for annonce in annonces %}
                <tr>
                    <td>{{ annonce.id }}</td>
                    <td>{{ annonce.title }}</td>
                    <td>{{ annonce.price }}</td>
                    <td>{{ annonce.createdAt ? annonce.createdAt|date_format_fr : '' }}</td>
                    <td>{{ annonce.content }}</td>
                    <td>{{ annonce.isActive ? 'Yes' : 'No' }}</td>
                    <td>{{ annonce.etat }}</td>
                    <td>
                        <a href="{{ path('annonce_show', {'id': annonce.id}) }}">show</a>
                        <a href="{{ path('annonce_edit', {'id': annonce.id}) }}">edit</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('annonce_new') }}">Create new</a>
    </div>
</div>
{% endblock %}